
*{
    box-sizing:border-box;
    margin:0 ;
    padding: 0;
    -moz-box-sizing: border-box;
}


@media screen and (max-width:480px) {

    #App{

        height: 100vh;
        width: 100%;
        display: grid;
        padding: 5px;
        grid-template-areas:
        'navbar navbar navbar'
        'maincontent maincontent maincontent'
        'details details details'
        'footer footer footer';

        margin: 0.205rem;
    }

    #navbar{
            grid-area: navbar;
    }


    #details{
        grid-area: details;
    }

    #footer{
        grid-area: footer;
    }
    
}

